body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1, h2, h3 {
    line-height: 1.2;
}

.mode-psychédélique {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #5d6b82;
    padding: 5px 15px;
    border-radius: 5px;
    color: lightblue;
}

.btn {
    padding: 5px 20px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
}

.danger {
    background-color: red;
}

.success {
    background-color: green;
}